*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://plus.unsplash.com/premium_photo-1673736136121-227cab583e22?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c291cmNlfGVufDB8fDB8fHww");

}

.caixa-maior{
    background: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 25px;
    width: 95%;
    max-width: 450px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 100px);
}

.botao-busca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
    margin-right: 17px;

}

.lupa{
    width: 20px;
    
}

.cidade{
    color: white;
    font-size: 25px;
    font-weight: 300px;

}

.caixa-media{
    margin-top: 30px;
}

.tempo{
    font-size: 20px;
    color: white;
    margin-top: 20px;

}

.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao{
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: white;
    margin-top: 20px;
}

@media (max-width: 410px){
    .input-cidade{
        font-size: 18px;
    }

    .cidade{
        font-size: 25px;
    }
}

